.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #444;
  min-height: 100vh;
}
.title {
  color: #fff;
  font-size: 3rem;
  padding: 2rem 0;
}
