.form {
  width: 50%;
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.6rem;
}
.form-field {
  margin: 1rem 0;
  display: flex;
}
.form-field label {
  flex-basis: 20%;
}
.form-field input {
  flex-basis: 80%;
  border: none;
  border-radius: 0.6rem;
  padding: 1rem;
}
.form-field textarea {
  flex-basis: 80%;
  border: none;
  resize: none;
  border-radius: 0.6rem;
  padding: 1rem;
}
.form button {
  border: none;
  border-radius: 1.6rem;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 0.5rem 0;
  width: 50%;
  transition: 0.4s;
}
.form button:hover {
  background-color: orange;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .form {
    width: 80%;
  }
}

@media screen and (max-width: 676px) {
  .form {
    width: 96%;
  }
}

@media screen and (max-width: 450px) {
  .form-field {
    flex-direction: column;
  }
  .form-field label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
